body{
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1442px;
    /* remove bottom styles */
    background: black;
    padding: 0px;
    
}
.top-nav {
    width: 100%;
    border: 1px solid black;
    margin: 0px!important;
    /* remove below code */
    height: 100px;
}
.side-padding {
    padding: 0 10%;
}

.banner-widget {
    background-color: purple;
    /* position:relative; */
    color: #FFFFFF;
    width: 100%;
    max-height: 572px;
    padding: 0px;
    margin: 0px!important;
}
.banner-widget h1 {
    padding: 100px 0 5px 0;
    color: #1585BB;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}
.banner-widget p {
    font-size: 16px;
    line-height: 20px;
}
/* sider-buttons */
.banner-widget .slider-nav {
    /* text-align: center; */
    margin-top: 20px;
}
.slider-nav a {
    color: #428bca;
    text-decoration: none;
}

.slider-nav .arrow-prev {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.slider-nav .arrow-next {
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.slide-nav .slider-dots {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0px!important;
}
.slider-dots li.active-dot {
    color: #363636;
}
.slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}
/* sider-buttons */

.banner-widget img {
  /* position: absolute; */
  /* left: 842px;
  top: 0; 
  z-index: 1;*/
  padding: 0px;
}

.banner-widget .btn-lg{
    border-radius: 3rem!important;
}
.banner-widget .btn {
    width: 220px;
    height: 50px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    /* text */
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}
button:last-child {
    margin-left: 10px;
}
.banner-widget .btn:hover {
    background-color: #DB3982;
    border: #DB3982; 
}

.partners-widget {
    background-color: white;
    height: 97px;
    padding: auto 0;
}

.partners-widget img{
    max-height: 40px;
    /* skip-first-child */
    margin-left: 30px;
}

/* -----------------------delete below css ---------------------*/

.top-header {
    background-color: purple;
    max-width: 1442px;
    
}


.slider {
    height: 572px;
    max-width: 1442px;
    position:relative;
    background-color: purple;
    /* border: 1px solid black; */
}
.slider-element {

}

.slider-leadText{
    margin-top: 60px;

    /* border: 1px solid black; */
}

.slider-leadText h1 {
    height: 141px;
    padding-top: 60px;
    /* width: 380px; */
    color: #1585BB;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
    /* letter-spacing: 36px; */
}

.slider-leadText p {
    height: 63px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    /* letter-spacing: 21px; */
}

.slider-buttons {
    height: 140px;
    padding-top: 40px;
}

/* .slider-buttons .btn-lg{
    border-radius: 3rem!important;
} */
.slider-buttons .btn {
    width: 220px;
    height: 50px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    /* text */
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}
button:last-child {
    margin-left: 10px;
}
.slider-buttons .btn:hover {
    background-color: #DB3982;
    border: #DB3982; 
}






/* -----------body--------- */

.form{
    height: 906px;
    /* max-height: 906px; */
    max-width: 1442px;
    position:relative;
    background-color: purple;
    /* border: 1px solid black; */
}

.body-form {

}

.form-section {
    height: 100%;
    /* max-height: 906px; */
    background-color: #475595;
}

.side-section{
    padding: 0;
}

.map{
    position: absolute;
    left: -130px;
    top: 200px;
    z-index: 2;
    height: 500px;
    width: 600px;
}
.pattern{
    position: absolute;
    /* left: -50px; */
    top: 405px;
    z-index: 1;
    height: 500px;
    width: 600px;
}